body {
background: url("/img/piramide.jpg") no-repeat center center fixed;
background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}

/****** Statistic ******/
.statistic {
  margin: 1em 0;
  text-transform: uppercase;
  display: inline-block;
}
.statistic .value {
  font-size: 4em;
  line-height: 1em;
  text-align: center;
}
.statistic .value.text {
  font-size: 2em;
  font-weight: bold;
}
.statistic .value img {
  max-height: .8em;
  vertical-align: baseline;
}
.statistic .label {
  color: inherit;
  display: block;
  font-size: 1em;
  text-align: center;
}
.statistic + .statistic {
  margin-left: 1.5em;
}
/*** Horizontal Statistic ***/
.statistic.horizontal .value,
.statistic.horizontal .label {
  display: inline;
  vertical-align: middle;
}
/****** Statistic Group ******/
.statistic-group {
  margin: 1em 0;
}
.statistic-group .statistic {
  display: inline-block;
}
/*** Horizontal Statistic Group ***/
.statistic-group.horizontal .statistic {
  display: block;
}
.statistic-group.horizontal .statistic .value,
.statistic-group.horizontal .statistic .label {
  display: inline;
  vertical-align: middle;
}
.statistic-group.horizontal .statistic + .statistic {
  margin-left: 0;
}
/*** Float Statistics ***/
.statistic.pull-left {
  margin-right: 1em;
}
.statistic.pull-right {
  margin-left: 1em;
}
/****** Statistic Sizes ******/
.statistic.mini .value {
  font-size: 1em;
  font-weight: bold;
}
.statistic.tiny .value {
  font-size: 2em;
}
.statistic.small .value {
  font-size: 3em !important;
}
.statistic.large .value {
  font-size: 5em;
}
.statistic.huge .value {
  font-size: 6em;
}
/****** Statistic Types ******/
.statistic.primary {
  color: #337ab7;
}
.statistic.success {
  color: #5cb85c;
}
.statistic.info {
  color: #5bc0de;
}
.statistic.warning {
  color: #f0ad4e;
}
.statistic.danger {
  color: #d9534f;
}
.statistic.inverted {
  color: white;
}
